

<section class="img">
  <div class="header">
    <span class="routing" routerLink="/login">login</span>
    <span class="routing" routerLink="/signup">Signup</span>
  </div>
  <div class="data">
    <h2>Wlcome to my world</h2>
    <p>Swethakrgs</p>
  </div>
</section>
<section>
  <div>
    <h2 class = "data1">
      Hello world
    </h2>
  </div>
</section>
<section class="img1">

</section>


<section class="foot">
  <footer>
    <div class="fdata">
    <p>Posted by: Hege Refsnes</p>
    <p>Contact information: <a href="mailto:someone@example.com">
      someone@example.com</a>.</p>
    </div>
  </footer>

</section>




